@mixin clear-style {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* #ifdef H5 */
div {

  &,
  &::before,
  &::after {
    @include clear-style;
  }
}

/* #endif */
page,
text,
view,
navigator,
swiper,
swiper-item,
image {

  &,
  &::before,
  &::after {
    @include clear-style;
  }
}
